<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.DtsAddressMapper">


  <resultMap id="addressResultMap" type="com.qiguliuxing.dts.vo.AddressVO">
    <id property="addressId" column="address_id"/>
    <result property="userId" column="user_id"/>
    <result property="userName" column="user_name"/>
    <result property="receiverName" column="receiver_name"/>
    <result property="phone" column="phone"/>
    <result property="region" column="region"/>
    <result property="detailAddress" column="detail_address"/>
    <result property="tag" column="tag"/>
    <result property="isDefault" column="is_default"/>
    <result property="isPickup" column="is_pickup"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>


  <!-- 动态查询用户收货地址 -->
  <select id="queryAddressList" resultMap="addressResultMap" parameterType="java.util.Map">
    SELECT
      a.address_id,
      a.user_id,
      u.user_name,
      a.receiver_name,
      a.phone,
      a.region,
      a.detail_address,
      a.tag,
      a.is_default,
      a.is_pickup,
      a.create_by,
      DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time,
      a.update_by,
      DATE_FORMAT(a.update_time, '%Y-%m-%d %H:%i:%s') as update_time
    FROM shop_address a
    LEFT JOIN shop_user u ON a.user_id = u.user_id
    <where>
      <if test="userId != null and userId != ''">
        AND a.user_id = #{userId}
      </if>
      <if test="userName != null and userName != ''">
        AND u.user_name LIKE CONCAT('%', #{userName}, '%')
      </if>
      <if test="receiverName != null and receiverName != ''">
        AND a.receiver_name LIKE CONCAT('%', #{receiverName}, '%')
      </if>
    </where>
    ORDER BY a.is_default DESC, a.create_time DESC
  </select>

  <select id="findById" resultMap="addressResultMap">
    SELECT *
    FROM shop_address
    WHERE address_id = #{id}
  </select>

  <insert id="add" parameterType="com.qiguliuxing.dts.vo.AddressVO" useGeneratedKeys="true" keyProperty="addressId">
    INSERT INTO shop_address
    (user_id, receiver_name, phone, region, detail_address,
     tag, is_default, is_pickup, create_time, update_time)
    VALUES
      (#{userId}, #{receiverName}, #{phone}, #{region}, #{detailAddress},
       #{tag}, #{isDefault}, #{isPickup}, NOW(), NOW())
  </insert>

  <update id="update" parameterType="com.qiguliuxing.dts.vo.AddressVO">
    UPDATE shop_address
    <set>
      <if test="receiverName != null">receiver_name = #{receiverName},</if>
      <if test="phone != null">phone = #{phone},</if>
      <if test="region != null">region = #{region},</if>
      <if test="detailAddress != null">detail_address = #{detailAddress},</if>
      <if test="tag != null">tag = #{tag},</if>
      <if test="isDefault != null">is_default = #{isDefault},</if>
      <if test="isPickup != null">is_pickup = #{isPickup},</if>
      update_time = NOW()
    </set>
    WHERE address_id = #{addressId} AND user_id = #{userId}
  </update>

  <update id="resetDefault">
    UPDATE shop_address
    SET is_default = 0,
        update_time = NOW()
    WHERE user_id = #{userId} AND is_default = 1
  </update>

  <update id="resetPickup">
    UPDATE shop_address
    SET is_pickup = 0,
        update_time = NOW()
    WHERE user_id = #{userId} AND is_pickup = 1
  </update>

  <!-- 根据用户ID和地址ID删除地址 -->
  <delete id="deleteByUserIdAndId">
    DELETE FROM shop_address
    WHERE address_id = #{addressId} AND user_id = #{userId}
  </delete>
</mapper>
