<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.DtsCouponUserMapper">

  <select id="selectUserCouponsByCondition" resultType="com.qiguliuxing.dts.vo.UserCouponsVO">
    SELECT
      coupon_id AS couponId,
      user_id AS userId,
      coupon_name AS couponName,
      coupon_amount AS couponAmount,
      expire_time AS expireTime,
      status,
      order_id AS orderId,
      use_time AS useTime,
      create_time AS createTime,
      update_time AS updateTime
      FROM user_coupons
    <where>
      <!-- couponId为必传参数 -->
      <if test="couponId != null">
        AND coupon_id = #{couponId}
      </if>

      <!-- userId为动态条件 -->
      <if test="userId != null and userId != ''">
        AND user_id = #{userId}
      </if>

      <!-- status为动态条件 -->
      <if test="status != null">
        AND status = #{status}
      </if>
    </where>
    ORDER BY create_time DESC
  </select>

  <insert id="insertUserCoupon" parameterType="com.qiguliuxing.dts.vo.UserCouponsVO">
    INSERT INTO user_coupons (
      user_id,
      coupon_id,
      coupon_name,
      coupon_amount,
      expire_time,
      status,
      order_id,
      use_time,
      create_time,
      update_time
    )
    VALUES (
             #{userId},
             #{couponId},
             #{couponName},
             #{couponAmount},
             #{expireTime},
             #{status},
             #{orderId,jdbcType=VARCHAR},
             #{useTime,jdbcType=TIMESTAMP},
             NOW(),
             NOW()
           )
  </insert>

    <select id="selectByUserId" resultType="com.qiguliuxing.dts.vo.UserCouponsVO">
        SELECT
            user_id AS userId,
            coupon_id AS couponId,
            coupon_name AS couponName,
            coupon_amount AS couponAmount,
            expire_time AS expireTime,
            status,
            order_id AS orderId,
            use_time AS useTime,
            create_time AS createTime,
            update_time AS updateTime
        FROM user_coupons
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
    </select>
</mapper>
