<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.LuckyKingRankMapper">

    <resultMap id="LuckyKingRankVOMap" type="com.qiguliuxing.dts.vo.LuckyKingRankVO">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="avatar" property="avatar"/>
        <result column="total_points" property="totalPoints"/>
        <result column="a_count" property="aCount"/>
        <result column="b_count" property="bCount"/>
    </resultMap>

    <select id="selectLuckyKingTop10" resultMap="LuckyKingRankVOMap">
        SELECT
            u.user_id,
            u.user_name,
            u.avatar,
            SUM(CASE
                    WHEN pl.level_name = 'A赏' THEN 10
                    WHEN pl.level_name = 'B赏' THEN 1
                    ELSE 0
                END) AS total_points,
            COUNT(CASE WHEN pl.level_name = 'A赏' THEN 1 END) AS a_count,
            COUNT(CASE WHEN pl.level_name = 'B赏' THEN 1 END) AS b_count,
            MAX(bbr.created_at) as max_obtain_time
        FROM
            shop_user u
                JOIN
            blind_box_records bbr ON u.user_id = bbr.user_id
                join product p on p.product_id = bbr.product_id
                join product_series ps on ps.series_id = bbr.series_id
                join product_level pl on pl.level_id = p.product_levelid
        WHERE
            pl.level_name IN ('A赏', 'B赏')
                and ps.is_spiritpower = 0
                AND YEAR(bbr.created_at) = YEAR(CURRENT_DATE)
          AND MONTH(bbr.created_at) = MONTH(CURRENT_DATE)
        GROUP BY
            u.user_id, u.user_name, u.avatar
        ORDER BY
            total_points DESC
            LIMIT 10
    </select>

    <select id="selectTotalLuckyKingPoints" resultType="java.lang.Integer">
        SELECT
            SUM(CASE
                    WHEN pl.level_name = 'A赏' THEN 10
                    WHEN pl.level_name = 'B赏' THEN 1
                    ELSE 0
                END) AS totalPoints
        FROM
            blind_box_records bbr
                join product p on p.product_id = bbr.product_id
                join product_series ps on ps.series_id = bbr.series_id
                join product_level pl on pl.level_id = p.product_levelid
        WHERE
            pl.level_name IN ('A赏', 'B赏')
                and ps.is_spiritpower = 0
                AND YEAR(bbr.created_at) = YEAR(CURRENT_DATE)
          AND MONTH(bbr.created_at) = MONTH(CURRENT_DATE)
    </select>

    <select id="selectUserLuckyKingPoints" resultMap="LuckyKingRankVOMap">
        SELECT
            u.user_id,
            u.user_name,
            u.avatar,
            SUM(CASE
                    WHEN pl.level_name = 'A赏' THEN 10
                    WHEN pl.level_name = 'B赏' THEN 1
                    ELSE 0
                END) AS total_points,
            COUNT(CASE WHEN pl.level_name = 'A赏' THEN 1 END) AS a_count,
            COUNT(CASE WHEN pl.level_name = 'B赏' THEN 1 END) AS b_count
        FROM
            shop_user u
                JOIN
            blind_box_records bbr ON u.user_id = bbr.user_id
                join product p on p.product_id = bbr.product_id
                join product_series ps on ps.series_id = bbr.series_id
                join product_level pl on pl.level_id = p.product_levelid
        WHERE
            pl.level_name IN ('A赏', 'B赏')
                and ps.is_spiritpower = 0
                AND YEAR(bbr.created_at) = YEAR(CURRENT_DATE)
          AND MONTH(bbr.created_at) = MONTH(CURRENT_DATE)
          AND u.user_id = #{userId}
    </select>
</mapper>
