<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.LuckyKingRankMapper">

    <resultMap id="LuckyKingRankVOMap" type="com.qiguliuxing.dts.vo.LuckyKingRankVO">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="avatar" property="avatar"/>
        <result column="total_points" property="totalPoints"/>
        <result column="a_count" property="aCount"/>
        <result column="b_count" property="bCount"/>
    </resultMap>

    <select id="selectLuckyKingTop10" resultMap="LuckyKingRankVOMap">
        SELECT
            u.user_id,
            u.user_name,
            u.avatar,
            SUM(CASE
                    WHEN bp.product_level = 'A赏' THEN 10
                    WHEN bp.product_level = 'B赏' THEN 1
                    ELSE 0
                END) AS total_points,
            COUNT(CASE WHEN bp.product_level = 'A赏' THEN 1 END) AS a_count,
            COUNT(CASE WHEN bp.product_level = 'B赏' THEN 1 END) AS b_count
        FROM
            shop_user u
                JOIN
            box_product bp ON u.user_id = bp.user_id
        WHERE
            bp.product_level IN ('A赏', 'B赏')
                AND bp.activity_type IN ('一番赏', '踩雷赏')
                AND YEAR(bp.obtain_time) = YEAR(CURRENT_DATE)
          AND MONTH(bp.obtain_time) = MONTH(CURRENT_DATE)
        GROUP BY
            u.user_id, u.user_name, u.avatar
        ORDER BY
            total_points DESC
            LIMIT 10
    </select>

    <select id="selectTotalLuckyKingPoints" resultType="java.lang.Integer">
        SELECT
            SUM(CASE
                    WHEN product_level = 'A赏' THEN 10
                    WHEN product_level = 'B赏' THEN 1
                    ELSE 0
                END) AS totalPoints
        FROM
            box_product
        WHERE
            product_level IN ('A赏', 'B赏')
                AND activity_type IN ('一番赏', '踩雷赏')
                AND YEAR(obtain_time) = YEAR(CURRENT_DATE)
          AND MONTH(obtain_time) = MONTH(CURRENT_DATE)
    </select>
</mapper>
