<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.ProductSeriesMapper">

    <resultMap id="ProductSeriesVOResultMap" type="com.qiguliuxing.dts.vo.ProductSeriesVO">
        <!-- 基本字段映射 -->
        <id column="series_id" property="seriesId" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="series_name" property="seriesName" jdbcType="VARCHAR"/>
        <result column="series_image" property="seriesImage" jdbcType="VARCHAR"/>
        <result column="series_description" property="seriesDescription" jdbcType="LONGVARCHAR"/>
        <result column="is_spiritpower" property="isSpiritPower" jdbcType="TINYINT"/>
        <result column="is_hot" property="isHot" jdbcType="TINYINT"/>
        <result column="is_avoid" property="isAvoid" jdbcType="TINYINT"/>
        <result column="is_popular_new" property="isPopularNew" jdbcType="TINYINT"/>
        <result column="is_hot_recommend" property="isHotRecommend" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>

        <!-- 价格区间JSON字段映射 -->
        <result column="price_ranges" property="priceRanges" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 动态查询商品系列 -->
    <select id="getProductSeries" parameterType="java.util.Map" resultMap="ProductSeriesVOResultMap">
        SELECT
        ser.series_id,
        ser.category_id,
        category.category_name,
        ser.series_name,
        ser.series_image,
        ser.series_description,
        ser.is_spiritpower,
        ser.is_hot,
        ser.is_avoid,
        ser.is_popular_new,
        ser.is_hot_recommend,
        ser.price,
        ser.price_ranges,
        ser.created_by,
        ser.created_time,
        ser.updated_by,
        ser.updated_time
        FROM product_series as ser
        inner join product_category as category
        on category.category_id = ser.category_id
        <where>
            <if test="seriesId != null and seriesId != ''">
                AND series_id = #{seriesId}
            </if>
            <if test="seriesName != null and seriesName != ''">
                AND series_name = #{seriesName}
            </if>
            <if test="isHot != null">
                AND is_hot = #{isHot}
            </if>
            <if test="isAvoid != null">
                AND is_avoid = #{isAvoid}
            </if>
            <if test="isPopularNew != null">
                AND is_popular_new = #{isPopularNew}
            </if>
            <if test="isHotRecommend != null">
                AND is_hot_recommend = #{isHotRecommend}
            </if>
            <if test="isSpiritPower != null">
                AND is_spiritpower = #{isSpiritPower}
            </if>
            <if test="isOnSale != null">
                AND is_on_sale = #{isOnSale}
            </if>
        </where>
        ORDER BY series_id
    </select>


    <!-- 根据系列ID查询产品系列 -->
    <select id="getProductSeriesById" parameterType="java.lang.Integer" resultMap="ProductSeriesVOResultMap">
        SELECT
        ser.series_id,
        ser.category_id,
        category.category_name,
        ser.series_name,
        ser.series_image,
        ser.series_description,
        ser.is_spiritpower,
        ser.is_hot,
        ser.is_avoid,
        ser.is_popular_new,
        ser.is_hot_recommend,
        ser.price,
        ser.price_ranges,
        ser.created_by,
        ser.created_time,
        ser.updated_by,
        ser.updated_time
        FROM product_series as ser
        inner join product_category as category
        on category.category_id = ser.category_id
       where series_id = #{seriesId}
        ORDER BY series_id
    </select>


    <!-- 动态查询商品系列 -->
    <select id="getProductSeriesByCategoryId" parameterType="java.lang.Integer" resultMap="ProductSeriesVOResultMap">
        select ser.series_id,
               ser.category_id,
               category.category_name,
               ser.series_name,
               ser.series_image,
               ser.series_description,
               ser.is_spiritpower,
               ser.is_hot,
               ser.is_avoid,
               ser.is_popular_new,
               ser.is_hot_recommend,
               ser.price,
               (select count(1) from blind_box_records bbr where bbr.series_id = ser.series_id) as purchaseCount,
               ser.price_ranges,
               ser.created_by,
               ser.created_time,
               ser.updated_by,
               ser.updated_time
        from product_category category
            join product_series ser
            on category.category_id = ser.category_id
        where category.category_id = #{categoryId}
        ORDER BY series_id
    </select>

    <!-- 插入商品系列 -->
    <insert id="insertProductSeries" parameterType="com.qiguliuxing.dts.vo.ProductSeriesVO" useGeneratedKeys="true" keyProperty="seriesId">
        INSERT INTO product_series (
            category_id,
            series_name,
            series_image,
            series_description,
            is_spiritpower,
            is_hot,
            is_avoid,
            is_popular_new,
            is_hot_recommend,
            price,
            price_ranges,
            created_by,
            created_time,
            updated_by,
            updated_time
        ) VALUES (
                     #{categoryId},
                     #{seriesName},
                     #{seriesImage},
                     #{seriesDescription},
                     #{isSpiritPower},
                     #{isHot},
                     #{isAvoid},
                     #{isPopularNew},
                     #{isHotRecommend},
                     #{price},
                     #{priceRanges},
                     #{createdBy},
                     NOW(),
                     #{updatedBy},
                     NOW()
                 )
    </insert>

    <!-- 根据 series_id 更新商品系列 -->
    <update id="updateProductSeries" parameterType="com.qiguliuxing.dts.vo.ProductSeriesVO">
        UPDATE product_series
        SET
            category_id = #{categoryId},
            series_name = #{seriesName},
            series_image = #{seriesImage},
            series_description = #{seriesDescription},
            is_spiritpower = #{isSpiritPower},
            is_hot = #{isHot},
            is_avoid = #{isAvoid},
            is_popular_new = #{isPopularNew},
            is_hot_recommend = #{isHotRecommend},
            price = #{price},
            price_ranges = #{priceRanges},
            is_on_sale = #{isOnSale},
            updated_by = #{updatedBy},
            updated_time = NOW()
        WHERE series_id = #{seriesId}
    </update>

    <!-- 根据 series_id 删除商品系列 -->
    <delete id="deleteProductSeries" parameterType="java.lang.Integer">
        DELETE FROM product_series
        WHERE series_id = #{seriesId}
    </delete>

    <select id="sumSeriesQuantity" resultType="com.qiguliuxing.dts.vo.ProductSeriesVO">
        SELECT
            p.product_seriesid AS seriesId,
            COUNT(bp.product_id) AS purchaseCount
        FROM
            box_product bp
                INNER JOIN
            product p ON bp.product_id = p.product_id
        WHERE
            bp.activity_type IN ('一番赏', '踩雷赏')
        GROUP BY
            p.product_seriesid
    </select>

</mapper>
