<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.ProductBoxMapper">


    <select id="findMaxBoxId" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(box_id), 0) FROM product_box
    </select>

    <select id="getProductBoxByCondition" parameterType="java.util.Map" resultType="com.qiguliuxing.dts.vo.ProductBoxVO">
        SELECT
        b.box_id as boxId,
        b.box_number as boxNumber,
        s.series_id as seriesId,
        s.series_name as seriesName
        FROM product_box b
        LEFT JOIN product_series s ON b.series_id = s.series_id
        WHERE 1=1
        <if test="boxId != null">
            AND b.box_id = #{boxId}
        </if>
        <if test="seriesId != null">
            AND b.series_id = #{seriesId}
        </if>
        <if test="seriesName != null and seriesName != ''">
            AND s.series_name LIKE CONCAT('%', #{seriesName}, '%')
        </if>
        ORDER BY b.box_id
    </select>


    <!-- 插入箱子信息 -->
    <insert id="insertProductBox" parameterType="com.qiguliuxing.dts.vo.ProductBoxVO" >
        INSERT INTO product_box (
            box_id,
            box_number,
            series_id,
            created_by,
            created_time,
            updated_by,
            updated_time
        ) VALUES (
                     #{boxId},
                     #{boxNumber},
                     #{seriesId},
                     #{createdBy},
                     NOW(),
                     #{updatedBy},
                     NOW()
                 )
    </insert>

    <!-- 根据 boxId, boxNumber 删除箱子数据 -->
    <delete id="deleteProductBox" parameterType="java.util.Map">
        DELETE FROM product_box
        WHERE box_id = #{boxId}
        and box_number = #{boxNumber}
    </delete>


    <resultMap id="ProductBoxResultMap" type="com.qiguliuxing.dts.vo.ProductBoxResultVo">
        <result property="boxId" column="box_id"/>
        <result property="boxNumber" column="box_number"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="quantity" column="quantity"/>
        <result property="soldQuantity" column="sold_quantity"/>
        <result property="productImage" column="product_image"/>
        <result property="productPrice" column="product_price"/>
        <result property="levelName" column="level_name"/>
        <result property="seriesPrice" column="price"/>
        <result property="priceRanges" column="price_ranges"/>
        <result property="isSoldOut" column="is_sold_out"/>
    </resultMap>

    <select id="getProductBoxBySeriesId" resultMap="ProductBoxResultMap">
        SELECT
            pb.box_id,
            pb.box_number,
            p.product_id,
            p.product_name,
            bpr.quantity,
            bpr.sold_quantity,
            p.product_image,
            p.product_price,
            pl.level_name,
            ps.price,
            ps.price_ranges,
            CASE
                WHEN bpr.sold_quantity >= bpr.quantity THEN 1
                ELSE 0
                END AS is_sold_out
        FROM
            product_box pb
                JOIN
            box_product_relation bpr ON pb.box_id = bpr.box_id
                JOIN
            product p ON p.product_id = bpr.product_id
                JOIN
            product_level pl ON p.product_levelid = pl.level_id
                JOIN
            product_series ps ON pb.series_id = ps.series_id
        WHERE
            pb.series_id = #{seriesId}
    </select>

</mapper>
